
//Menu
$menuBg: #202a40;
$menuHover: #263445;
$menuWidth: 200px;
$hideMenuWidth: 67px;
//Headers
$headHeight: 55px;
$headRightIconSize: 23px;
$headRightIconColor: rgba(0, 0, 0, 0.7);
$headRightIconMargin: 18px;
//Login
$loginInputWidth: 380px;
//echarts
$lineWidth: 380px;

// sidebar
$menuText: #bfcbd9;
$menuActiveText: #ffffff;
$subMenuActiveText: #f4f4f5;
//others
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$sideBarWidth: 200px;
$hideSideBarWidth: 67px;
$sideBarDuration: 0.28s;

// :export {
//   menuText: $menuText;
//   menuActiveText: $menuActiveText;
//   subMenuActiveText: $subMenuActiveText;
//   menuBg: $menuBg;
//   menuWidth:$menuWidth;
//   menuHover: $menuHover;
//   subMenuBg: $subMenuBg;
//   subMenuHover: $subMenuHover;
//   sideBarWidth: $sideBarWidth;
//   hideSideBarWidth: $hideSideBarWidth;
// }
